**/.env
**/.env.*
!**/.env.example

**/node_modules
**/dist
**/build

src/backend/uploads
src/backend/gallery
**/log
**/*.log

database/meta
database/0*.sql

.git
.gitignore
.vscode
.idea
**/.DS_Store
**/*.md