PG_HOST=localhost
PG_USER=username
PG_PASSWORD=password
PG_DATABASE=mydatabase
PROD=false
SESSION_LIFETIME_DAYS=7
VITE_BACK_END_HOST=http://localhost:8888
ALLOWED_ORIGINS=http://localhost:5173,https://example.com
ADM_USERNAME=
ADM_EMAIL=
ADM_PASSWORD=
JWT_SECRET=